
// Bootstrap CSS
@import "bootstrap.less";

.centered {
  text-align: center;
  .center-block();
}

.strong {
  font-weight: bold;
}

.container > .row {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1, h2 {
  font-weight: 100;
  small {
    font-weight: inherit;
  }
}

// specific for Karma
@pagebackground: #d9edf7;

body {
  height: inherit;
  background: @pagebackground;
}

.facecard {
  padding: 10px;
  border: 1px solid @grayLight;
  .border-radius(5px);
  img {
    width: 60px;
    float: left;
    margin-right: 5px;
  }
  p {
    margin: 0;
  }
}

.placeholder-opacity(@opacity) {
  &:-moz-placeholder {
    opacity: @opacity;
  }
  &:-ms-input-placeholder {
    opacity: @opacity;
  }
  &::-webkit-input-placeholder {
    opacity: @opacity;
  }
}

.hero {
  font-size: 20px;
  font-weight: 200;
  form {
    display: block;
    margin-bottom: 10px;
    p {
      display: inline;
      vertical-align: middle;
    }
    input, button {
      font-weight: inherit;
      font-size: inherit;
      line-height: 28px;
      height: initial;
      i {
        vertical-align: middle;
      }
    }
    div {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}

#big-login-button {
  position: absolute;
  top: 44%;
  left: 44%;
}

#conversation {
  margin-top: 20px;
}

#thanks-holder {
  display: none;
}

.people-table-holder {

  .row {
    font-size: 18px;
    line-height: 26px;
    font-weight: 200;

    .cell {
      white-space: nowrap;
      overflow: auto;
    }
  }
}

.people-table .row {

  &:hover {
    background: darken(@pagebackground, 10%);
    .box-shadow(inset 0 1px 1px rgba(0,0,0,.25));
  }

}

#pairing {
  margin-bottom: 40px;

  .picker {
    width: 260px;
  }
}

#change-page {
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.tag-cloud {

  height: 150px;

  .tag-token {
    display: inline-block;
    padding: 2px;

    &.rotated {
      .rotate(270deg);
    }
  }

  .loading {
    .animation(rotate 1.5s linear infinite);
  }
}

// Browse
// -------

.thumbnail {
  height: 310px;

  .caption {
    h3 {
      i {
        vertical-align: inherit;
      }
    }
  }
}

// Animations
// ----------

@-webkit-keyframes rotate {
  from { .rotate(0deg); }
  to { .rotate(360deg); }
}

@-moz-keyframes rotate {
  from { .rotate(0deg); }
  to { .rotate(360deg); }
}

@-ms-keyframes rotate {
  from { .rotate(0deg); }
  to { .rotate(360deg); }
}

@-o-keyframes rotate {
  from { .rotate(0deg); }
  to { .rotate(360deg); }
}

@keyframes rotate {
  from { .rotate(0deg); }
  to { .rotate(360deg); }
}
