
// Bootstrap CSS
@import "bootstrap.less";

.centered {
  text-align: center;
  .center-block();
}

.strong {
  font-weight: bold;
}

.container > .row {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1, h2 {
  font-weight: 100;
  small {
    font-weight: inherit;
  }
}

// specific for Athena
body {
  height: inherit;
  background: #d9edf7;
}

.facecard {
  padding: 10px;
  border: 1px solid @grayLight;
  .border-radius(5px);
  img {
    width: 60px;
    float: left;
    margin-right: 5px;
  }
  p {
    margin: 0;
  }
}

.hero {
  font-size: 20px;
  line-height: 28px;
  font-weight: 200;
  form {
    display: inline;
    p {
      display: inline;
      vertical-align: middle;
    }
    input, button {
      font-weight: inherit;
      font-size: inherit;
      line-height: inherit;
      height: initial;
      i {
        vertical-align: middle;
      }
    }
    div {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}

#conversation {
  margin-top: 20px;
}

#thanks-holder {
  display: none;
}

#admin-holder {
  display: none;

  .row {
    font-size: 18px;
    line-height: 26px;
    font-weight: 200;

    .cell {
      white-space: nowrap;
      overflow: auto;
    }
  }
}

#admin-button {
  position: absolute;
  bottom: 20px;
  right: 10px;
}
