<!DOCTYPE html>
<html>
<head>
  <title>Karma</title>
  <link rel="stylesheet" href="/styles/index.css" type="text/css" charset="utf-8">
  <script src="/scripts/dog.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">
          Karma
        </a>
        <ul class="nav">
          <li><a href="/">Signup</a></li>
          <li><a href="/browse.html">Browse</a></li>
          <li class="active"><a href="/admin.html">Admin</a></li>
        </ul>
        <ul class="nav pull-right" dogjs-auth="true">
          <li><a href="/dog/account/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="page-header">
      <h1>
        Pairing
        <small>Bringing people together</small>
      </h1>
    </div>
    <div id="pairing" class="row">
      <div class="offset1 span3">
        <button class="picker btn btn-large" data-picker="t">
          Teacher
        </button>
      </div>
      <div class="offset1 span3">
        <button class="picker btn btn-large" data-picker="l">
          Learner
        </button>
      </div>
      <div class="offset2 span2">
        <form action="/jsonecho" id="pairing-form">
          <input type="hidden" name="teacher" value="">
          <input type="hidden" name="learner" value="">
          <button type="submit" class="btn btn-large btn-primary">
            Pair
          </button>
        </form>
      </div>
    </div>
    <div class="row people-table-holder">
      <h2>People</h2>
      <div class="span12">
        <div class="row">
          <div class="span2 strong">Name</div>
          <div class="span4 strong">Goal</div>
          <div class="span3 strong">Learnable</div>
          <div class="span3 strong">Teachable</div>
        </div>
        <div class="people-table" method="append"></div>
      </div>
    </div>
  </div>
  <script src="/scripts/admin.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>