<!DOCTYPE html>
<html>
<head></head>
<body>
  <div class="container">
    <div id="admin-holder" class="row">
      <div class="offset1 span11">
        <div class="row">
          <div class="span2 strong">Name</div>
          <div class="span3 strong">Email</div>
          <div class="span3 strong">Learnable</div>
          <div class="span3 strong">Teachable</div>
        </div>
        <div id="admin" method="append"></div>
      </div>
    </div>
  </div>
  <!-- page changer -->
  <form class="form-inline" id="change-page">
    <div class="input-prepend">
      <span class="add-on">Page</span><input type="text" name="destination" placeholder="Destination" style="width: 100px">
    </div>
  </form>
</body>
</html>