<!DOCTYPE html>
<html>
<head>
  <title>Karma</title>
  <link rel="stylesheet" href="/styles/index.css" type="text/css" charset="utf-8">
  <script src="/scripts/dog.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="offset6 span5">
        <h1>Karma <small>a peer-to-peer learning exprience</small></h1>
      </div>
      <div class="span1">
        <a class="btn btn-large" href="/dog/account/logout" dogjs-auth="true">
          Logout
        </a>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        <div class="btn-group" dogjs-auth="true">
          <a class="btn" href="/">Signup</a>
          <a class="btn" href="/browse.html">Browse</a>
          <a class="btn active" href="/admin.html">Admin</a>
        </div>
      </div>
    </div>
    <div id="pairing" class="row">
      <h2>Pairing</h2>
      <div class="offset1 span3">
        <button class="picker btn btn-large" data-picker="t">
          Teacher
        </button>
      </div>
      <div class="offset1 span3">
        <button class="picker btn btn-large" data-picker="l">
          Learner
        </button>
      </div>
      <div class="offset2 span2">
        <form action="/jsonecho" id="pairing-form">
          <input type="hidden" name="teacher" value="">
          <input type="hidden" name="learner" value="">
          <button type="submit" class="btn btn-large btn-primary">
            Pair
          </button>
        </form>
      </div>
    </div>
    <div class="row people-table-holder">
      <h2>People</h2>
      <div class="span12">
        <div class="row">
          <div class="span2 strong">Name</div>
          <div class="span4 strong">Goal</div>
          <div class="span3 strong">Learnable</div>
          <div class="span3 strong">Teachable</div>
        </div>
        <div class="people-table" method="append"></div>
      </div>
    </div>
  </div>
  <script src="/scripts/admin.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>