<!DOCTYPE html>
<html>
<head>
  <title>Karma</title>
  <link rel="stylesheet" href="/styles/index.css" type="text/css" charset="utf-8">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/scripts/bootstrap-alert.js" type="text/javascript" charset="utf-8"></script>
  <script src="/scripts/bootstrap-dropdown.js" type="text/javascript" charset="utf-8"></script>
  <script src="/scripts/bootstrap-modal.js" type="text/javascript" charset="utf-8"></script>
  <script src="/scripts/dog.js" type="text/javascript" charset="utf-8"></script>
  <script>
    // Dialog click listeners 
    $(document).on("click", ".pairDialog-btn", function () {
      $(".alert").alert();
      $(document.getElementById("closePairDialog")).click();
      $(document.getElementById("request-name")).text($(this).data('person'));
      document.getElementById("thanks-request").style.display = "block";
    });
    $(document).on("click", ".suggestSubmit-btn", function () {
      $(".alert").alert();
      $(document.getElementById("closeSuggestions")).click();
      document.getElementById("thanks-suggestion").style.display = "block";
    });
    $(document).on("click", ".thanks-request-close", function () {
      document.getElementById("thanks-request").style.display = "none";
    });
    $(document).on("click", ".thanks-suggest-close", function () {
      document.getElementById("thanks-suggestion").style.display = "none";
    });
    $(document).on("click", ".open-SuggestDialog", function () {
      $('#suggestDialog').html(Mustache.render($('#suggestDialog').html(), { first_name: $(this).data('name'), profile_id: $(this).data('id') }))
      // suggestion filter
      var suggestfilter = document.getElementById('suggestfilter');
        suggestfilter && suggestfilter.addEventListener('keyup', function (ev) {
          var corpus = document.querySelectorAll('.suggest-grid > li');
          if (ev.target && ev.target.value) {
            console.log('search:', ev.target.value);
            var query = ev.target.value.split(/\s+/).join('|');
            var search = new RegExp('\\b(' + query + ')', 'i');
            Array.prototype.forEach.call(corpus, function (doc) {
              if (search.exec(doc.dataset && doc.dataset.meta)) {
                doc.style.display = 'list-item';
              } else {
                doc.style.display = 'none';
              }
            });
          } else {
            console.log('clear search');
            Array.prototype.forEach.call(corpus, function (doc) {
              doc.style.display = 'list-item';
            });
          }});
    });
    $(document).on("click", ".suggest-preview", function () {
      var type = document.getElementById('selectSuggestType').value;
      var profile_id = document.getElementById('suggest-profile-id').value;
      if (type == "teacher") {
        $('input#teacher').val($(this).data('fbid'));
        $('input#learner').val(profile_id);
      } else {
        $('input#learner').val($(this).data('fbid'));
        $('input#teacher').val(profile_id);
      }
      // remove selection style and highlight new element
      var els = document.querySelector('.suggest-grid').getElementsByTagName('li');
      for(i=0;i<els.length;i++){
        els[i].className = 'suggest-preview well';
      }
      this.className = 'suggest-preview well suggest-select';
    });
  </script>
</head>
<body class="connect-dialogs" method="append">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">
          Karma
        </a>
        <ul class="nav">
          <li><a href="/profile.html">Profile</a></li>
          <li class="active"><a href="/browse.html">Browse</a></li>
        </ul>
        <ul class="nav pull-right" dogjs-auth="true">
          <li><a href="/dog/account/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Alerts and Dialogs -->
  <div id="thanks-suggestion" class="alert alert-info" style="display: none;">
    <button type="button" class="close thanks-suggest-close">×</button>
      <strong>Thank you!</strong> We will pass along your suggestion.
  </div>
  <div id="thanks-request" class="alert alert-success" style="display: none;">
    <button type="button" class="close thanks-request-close">×</button>
      We forwarded your request to <strong id="request-name">name</strong>.
  </div>

  <!--<div class="alert alert-block" id="pairDialog">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Warning!</h4>
    Best check yo self, you're not...
  </div>-->

  <!--<div class="modal hide fade" id="pairDialog" style="display: none; width: 300px; margin-top: -100px; margin-left: -150px">
    <div class="modal-body" align="center">
      <a href="#" class="close" id="closePairDialog" data-dismiss="modal">×</a>
      <form listen="pair_requests" authenticated="true">
        <div class="btn-group btn-group-vertical">
          <button class="btn" type="submit">I want to learn from {{first_name}}</button>
          <button class="btn">I want to teach {{first_name}}</button>
          <a class="btn btn-info" href="mailto:{{email}}" style="width: inherit;">Contact</a>
			  </div>
			</form>
		</div>
  </div>-->

  <div class="modal hide fade" id="suggestDialog" style="display: none; ">
    <div class="modal-header">
      <a href="#" id="closeSuggestions" class="close" data-dismiss="modal">×</a>
      <h1 id="title" style="display: inline-block">
        Match
        <!--Insert spinner for teacher/student-->
        <small>
          Find a
          <select id="selectSuggestType" class="well" style="margin-bottom: 0px;">
            <option>teacher</option>
            <option>student</option>
          </select>
          for {{first_name}}
        </small>
      </h1>
      <input id="suggest-profile-id" type="hidden" value="{{profile_id}}">
		</div>
    <div class="modal-body">
      <!-- People container -->
      <div style="height: 100px; margin-bottom: 100px;">
        <form class="span6">
          <ul class="suggest-grid" method="append"></ul>
        </form>
      </div>
		</div>
    <div class="modal-footer suggest-form" method="overwrite" style="text-align: left;">
    </div>
  </div>

  <!-- People container -->
  <div class="container" style="margin-bottom: 100px;">
    <div class="page-header">
      <h1 style="display: inline-block;">
        Browse
        <small>Some people from your network</small>
      </h1>
      <form class="form-search pull-right">
        <input type="search" class="search-query" id="peoplefilter" placeholder="Search: people, goals, skills">
      </form>
    </div>
    <div class="span12">
      <ul class="thumbnails people-grid" method="append"></ul>
    </div>
  </div>
  <script src="/scripts/browse.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
