<!DOCTYPE html>
<html>
<head>
  <title>Athena</title>
  <link rel="stylesheet" href="/styles/index.css" type="text/css" charset="utf-8">
  <script src="/scripts/dog.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="offset6 span5">
        <h1>Athena <small>a peer-to-peer learning exprience</small></h1>
      </div>
      <div class="span1" id="authentication"></div>
    </div>
    <div class="row">
      <div class="span3">
        <div class="btn-group">
          <a class="btn" href="/">Signup</a>
          <a class="btn active" href="/browse.html">Browse</a>
          <a class="btn" href="/admin.html">Admin</a>
        </div>
      </div>
    </div>
    <div class="row span12">
      <div class="page-header">
        <h1>
          Browse
          <small>Some people from your network</small>
        </h1>
      </div>
      <div class="row span12">
        <p class="lead">Some people from your network</p>
      </div>
      <div class="people-grid" method="append"></div>
    </div>
  </div>
  <script src="/scripts/browse.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
