<!DOCTYPE html>
<html>
<head></head>
<body>
  <div class="container">
    <div class="row">
      <div class="offset6 span5">
        <h1>Athena <small>a peer-to-peer learning exprience</small></h1>
      </div>
      <div class="span1">
        <button class="btn btn-large btn-primary">Login</button>
      </div>
    </div>
    <div class="row">
      <div class="offset1 span2">
        <h1>Browse</h1>
      </div>
    </div>
    <div class="row span12">
      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#browse-skills" data-toggle="tab">Skills</a></li>
          <li><a href="#browse-goals" data-toggle="tab">Goals</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="browse-skills">
            <p>These are skills that people are willing to teach, or are interested in learning.</p>
            <div class="tag-cloud offset3 span6">
              <i class="icon-refresh loading"></i>
              Loading
            </div>
          </div>
          <div class="tab-pane" id="browse-goals">
            <p>The goals that people in Athena are aspiring to.</p>
            <div class="tag-cloud offset3 span6">
              <i class="icon-refresh loading"></i>
              Loading
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="admin" method="append" style="display: none;"></div>
  </div>
  <!-- page changer -->
  <form class="form-inline" id="change-page">
    <div class="input-prepend">
      <span class="add-on">Page</span><input type="text" name="destination" placeholder="Destination" style="width: 100px">
    </div>
  </form>
  <script type="text/javascript" charset="utf-8">
  alert('browse');
  </script>
</body>
</html>
