<!DOCTYPE html>
<html>
<head>
  <title>Athena</title>
  <link rel="stylesheet" href="/styles/index.css" type="text/css" charset="utf-8">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/scripts/bootstrap-tab.js" type="text/javascript" charset="utf-8"></script>
  <script src="/scripts/dog.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <div class="container">
    <div class="row span12">
      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#browse-skills" data-toggle="tab">Skills</a></li>
          <li><a href="#browse-goals" data-toggle="tab">Goals</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="browse-skills">
            <p>These are skills that people are willing to teach, or are interested in learning.</p>
            <div class="tag-cloud offset3 span6">
              <i class="icon-refresh loading"></i>
              Loading
            </div>
          </div>
          <div class="tab-pane" id="browse-goals">
            <p>The goals that people in Athena are aspiring to.</p>
            <div class="tag-cloud offset3 span6">
              <i class="icon-refresh loading"></i>
              Loading
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
