<!DOCTYPE html>
<html>
<head></head>
<body>
  <div class="container">
    <div class="row">
      <div class="span3">
        <div class="btn-group">
          <button class="btn btn-large" onclick="dogjs.changePage('browse');">Browse</button>
          <button class="btn btn-large" onclick="dogjs.changePage('admin');">Admin</button>
        </div>
      </div>
      <div class="offset3 span5">
        <h1>Athena <small>a peer-to-peer learning exprience</small></h1>
      </div>
      <div class="span1" id="authentication"></div>
    </div>
    <div class="row">
      <div id="big-login-button"></div>
    </div>
    <div id="signup-holder" class="row">
      <div class="offset1 span10 hero">
        <div id="conversation" method="append"></div>
      </div>
    </div>
    <div id="thanks-holder" class="row">
      <div class="offset1 hero-unit">
        <h1>Thank you</h1>
        <p>We will get back to you soon with a pairing.</p>
      </div>
    </div>
  </div>
  <!-- page changer -->
  <form class="form-inline" id="change-page">
    <div class="input-prepend">
      <span class="add-on">Page</span><input type="text" name="destination" placeholder="Destination" style="width: 100px">
    </div>
  </form>
  <script src="/scripts/home.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
