<!DOCTYPE html>
<html>
<head>
  <title>Athena</title>
  <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/styles/index.css" type="text/css" charset="utf-8">
  <script src="/scripts/dog.js" type="text/javascript" charset="utf-8"></script>
  <script src="/scripts/index.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
    dogjs.setupPages({
      'default': '/home.html',
      'templates': '/templates.html'
    });
  </script>
</head>
<body>
</body>
</html>
