<!DOCTYPE html>
<html>
<head>
  <title>Karma</title>
  <link rel="stylesheet" href="/styles/index.css" type="text/css" charset="utf-8">
  <script src="/scripts/dog.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">
          Karma
        </a>
        <ul class="nav">
          <li class="active" id="signup"><a href="/">Teach</a></li>
          <li dogjs-auth="true"><a href="/browse.html">Browse</a></li>
        </ul>
        <ul class="nav pull-right" dogjs-auth="true">
          <li><a href="/dog/account/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div dogjs-auth="false">
      <div class="page-header">
        <h1>
          Karma
          <small>a peer-to-peer learning experience</small>
        </h1>
      </div>
      <div class="row span12">
        <image src="/images/blackboard.jpg" style="height: 250px; float: right;">
        <p class="lead">
          Everyone has goals. What's yours? Karma will pair you with a teacher who can help you achieve your goal.
        </p>
        <p class="lead">
          In exchange, you will be given the opportunity to teach one of your passions.
        </p>
        <p class="lead">
          Build good karma by teaching others. Enjoy the gift of learning.
        </p>
      </div>
      <div class="row" style="text-align: center; margin-bottom: 20px;">
        <a id="big-login-button" class="btn btn-warning btn-large" href="/dog/account/facebook/login">
          Login with Facebook
        </a>
      </div>
    </div>
    <div id="signup-holder" dogjs-auth="true">
      <div class="page-header">
        <h1>
          Teach
          <small>your peers. Learn from them in return.</small>
        </h1>
      </div>
      <div class="row span12 primary">
        <div id="conversation" method="append"></div>
      </div>
    </div>
    <div id="thanks-holder" class="row">
      <div class="hero-unit">
        <h1>Thank you</h1>
        <p>We will get back to you soon with a pairing.</p>
      </div>
    </div>
  </div>
  <script src="/scripts/index.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
