<!DOCTYPE html>
<html>
<head>
  <title>Karma</title>
  <link rel="stylesheet" href="/styles/index.css" type="text/css" charset="utf-8">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/scripts/dog.js" type="text/javascript" charset="utf-8"></script>
  <script>
    dogjs.configure({
      templates: '/templates-profile.html'
    });
    $(document).on("click", ".skill-link", function () {
      window.location = '/browse.html'+'?interest='+$(this).data('skill');
    });
  </script>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">
          Karma
        </a>
        <ul class="nav">
          <li class="active" id="signup"><a href="/">Profile</a></li>
          <li dogjs-auth="true"><a href="/browse.html">Browse</a></li>
        </ul>
        <ul class="nav pull-right" dogjs-auth="true">
          <li><a href="/dog/account/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- learning request flow -->
  <div class="profile-wrapper" method="append"></div>
  <script src="/scripts/profile.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
