<!DOCTYPE html>
<html>
<head>
  <title>Karma</title>
  <link rel="stylesheet" href="/styles/index.css" type="text/css" charset="utf-8">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/scripts/bootstrap-alert.js" type="text/javascript" charset="utf-8"></script>
  <script src="/scripts/bootstrap-typeahead.js" type="text/javascript" charset="utf-8"></script>
  <script src="/scripts/dog.js" type="text/javascript" charset="utf-8"></script>
  <script>
    dogjs.configure({
      templates: '/templates-profile.html'
    });
    $(document).on("click", ".skill-link", function () {
      window.location = '/browse.html'+'?interest='+$(this).data('skill');
    });
    $(document).on("click", ".skill-delete", function () {
      // TODO: check if there is only one
      // console.log(this.parentNode.parentNode.parentNode.querySelectorAll('.skill-element').length);
      //console.log(this.parentNode.parentNode.parentNode.childNodes.length);
      if (this.parentNode.parentNode.parentNode.querySelectorAll('.skill-element').length > 1) {
        this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode);
      } else {
        $(".alert").alert();
        document.getElementById("skill-delete-warning").style.display = "block";
      }
    });
    $(document).on("click", ".skill-delete-close", function () {
      document.getElementById("skill-delete-warning").style.display = "none";
    });
    $(document).on("click", ".edit-icon", function () {
      var id = $(this).data('id');
      var els = document.querySelectorAll('.skills-display');
      console.log(id);
      // show edit box
      var input = els[id].querySelector('.skill-edit');
      var deletes = els[id].querySelectorAll('.skill-delete');
      var links = els[id].querySelectorAll('.skill-link');
      if (input.style.display == "none") {
        for(i = 0; i < links.length; i++){
  		    deletes[i].style.display = "inline-block";
  		    links[i].className += " btn";
  		  }
  		  input.style.display = "block";
  		  //input.onClick(); -- TODO(sainsley): this and focus don't work...figure out why
      } else {
        input.style.display = "none";
        for(i = 0; i < links.length; i++){
  		    deletes[i].style.display = "none";
  		    links[i].className = "well skill skill-link";
  		  }
      }
    });
    $(document).on("click", ".request-btn", function () {
      var pair_controls = document.getElementById('pair_controls');
			pair_controls.style.visibility = "hidden"
			if (this.value == "confirm") {
			  $(".alert").alert();
        document.getElementById("request-confirm").style.display = "block";
      }
    });
    $(document).on("click", ".request-confirm-close", function () {
      document.getElementById("request-confirm").style.display = "none";
    });
    function handleKeyPress(e, input){
      var key=e.keyCode || e.which;
      if (key==13){
        submit = document.getElementById('edit-submit');
        test = $('.skill-element').clone()[0];
        //$(test).text(input.value);
        skill_link = test.querySelector('.skill-link');
        $(skill_link).text(input.value);
        $(skill_link).data("skill", input.value);
        console.log(test);
        $(test).appendTo('.skill-holder');
        //submit.click();
        //window.location = '/profile.html';
      }
    }
  </script>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">
          Karma
        </a>
        <ul class="nav">
          <li class="active" id="signup"><a href="/">Profile</a></li>
          <li dogjs-auth="true"><a href="/browse.html">Browse</a></li>
        </ul>
        <ul class="nav pull-right" dogjs-auth="true">
          <li><a href="/dog/account/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="alert alert-info" style="display: none;" id="skill-delete-warning">
    <button type="button" class="close skill-delete-close">×</button>
    <strong>Sorry!</strong> You cannot delete all of your skills.
  </div>
  <!-- learning request flow -->
  <div class="container profile-wrapper" method="overwrite"></div>
  <script src="/scripts/profile.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
