<!DOCTYPE html>
<html>
<head></head>
<body>

  <!-- learning request flow -->
  <form listen="goals" holder="#conversation" class="form-inline" id="start-finding" authenticated="true">
    <p>
      My goal is to
      <span class="input-append">
        <input type="text" name="value" placeholder="make a social web app" tabindex="1" style="width: 400px;" required>
        <button class="btn" type="submit">&rarr;</button>
      </span>
    </p>
  </form>

  <section oneach="@each:goal" subscribe="poll">

    <!-- Inside the ON EACH goal -->
    <form ask="state_skill_needed" holder="#conversation" class="form-inline" authenticated="true">
      <p>
        and the skill I'll going to need in order to accomplish it is
        <span class="input-append">
          <input type="text" name="skill" placeholder="programming in Dog" tabindex="2" required>
          <button class="btn" type="submit">&rarr;</button>
        </span>
      </p>
    </form>

    <form ask="state_teachable" holder="#conversation" class="form-inline" id="state-teachable" authenticated="true">
      <p>
        In return, I'd be willing to help a friend learn to
        <span class="input-append">
          <input type="text" name="teachable" placeholder="dance" tabindex="3">
          <button class="btn" type="submit">&rarr;</button>
        </span>
      </p>
    </form>

    <form ask="identify_yourself" holder="#conversation" class="form-inline" authenticated="true">
      <p>
        I can be contacted at the address
        <input type="email" name="email" placeholder="email" tabindex="4">
      </p>
      <div style="text-align: center;">
        <button class="btn btn-warning" type="submit">sign up</button>
      </div>
    </form>

    <!-- admin display -->
    <section notify="person" holder=".people-table" class="row people-row">
      <div class="cell span2 name"><a href="mailto:{{email}}" class="email">{{first_name}} {{last_name}}</a></div>
      <div class="cell span4 goal">{{athena_profile.goal}}</div>
      <div class="cell span3 skill">{{athena_profile.learnable}}</div>
      <div class="cell span3 skill">{{athena_profile.teachable}}</div>
    </section>

    <!-- browse display -->
    <!-- to be updated -->

  </section>

</body>
</html>