<!DOCTYPE html>
<html>
<head></head>
<body>

  <section oneach="@each:signup_request" subscribe="poll">

    <!-- browse display -->
    <li class="span3" notify="person" holder=".people-grid">
      <div class="thumbnail" data-meta="{{first_name}} {{last_name}} {{karma_profile.goal}} {{karma_profile.learnable}} {{karma_profile.teachable}}">
        <img src="http://graph.facebook.com/{{facebook_profile.id}}/picture?type=large">
        <div class="caption">
          <p>
            <a href="mailto:{{email}}">{{first_name}}</a> wants to
          </p>
          <p>learn <span class="well">{{karma_profile.learnables}}</span></p>
          <p>in order to <span class="well">{{karma_profile.goal}}</span>,</p>
          <p>and is willing to teach <span class="well">{{karma_profile.teachables}}</span></p>
        </div>
      </div>
    </li>

  </section>

</body>
</html>
